<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VIDEO CAPTAIN</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="browser">
    <h1 class="title">VIDEO CAPTAIN</h1>
    <% videos.forEach(([ show, episodes ]) => { %>
      <details class="show" open>
        <summary><h2><%= show.replace('/', '').replace(/\//g, ': ').replace(/^\d\d /, '') %></h2></summary>
        <section class="episodes">
          <% episodes.forEach(({ file }) => { %>
            <a class="video-thumbnail" href="/watch/<%- encodeURIComponent(file) %>"><%= file.replace(/\.\w+$/, '').replace(/^\d\d /, '') %></a>
          <% }) %>
          <!-- HACK to get the last row to always justify nicely -->
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
          <span class="hack-episode-alignment"></span>
        </section>
      </details>
    <% }) %>
  </div>
</body>
</html>