<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VIDEO CAPTAIN</title>
</head>
<body>
  <h1>VIDEO CAPTAIN BROWSE</h1>
  
  <a href="/watch/Inception">Inception</a>
  <a href="/watch/The%20Dark%20Knight">The Dark Knight</a>
  <a href="/watch/The%20Dark%20Knight%20Rises">The Dark Knight Rises</a>
</body>
</html>