<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VIDEO CAPTAIN | Settings </title>
  <link rel="stylesheet" href="/assets/style.css">
  <script src="/assets/settings.js"></script>
</head>
<body>
  <%- include('nav') %>
  <div class="viewer">
    <main class="low-content">
      <h1>Settings</h1>
      
      <input type="checkbox" id="dark-mode"/>
      <label for="dark-mode">Dark Mode</label>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <button id="shutdown-server" class="elevation-2 interact" <%- 
        settings.clientCanShutdownServer ? '' : 'disabled title="Update `config.js` if you wish to allow client to shut down server"' 
      %>>Shutdown Video Captain Server</button>
    </main>
  </div>
  <script>
    bindSettings()
  </script>
</body>
</html>