body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  font-size: 32px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: block;
  background-color: white;
  padding: 15px;
  box-sizing: border-box; 
}
nav a,
nav a:hover,
nav a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav .now-playing {
  color: #888;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 30px;
}


.browser {
  width: 90%;
  margin: auto;
}

details summary {
  margin: 20px;
}
details:first-of-type {
  margin-top: 50px;
}
details summary * {
  margin: 15px;
}

.show h2 {
  display: inline;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video-thumbnail,
.hack-episode-alignment {
  width: 200px;
  height: 150px;
  display: block;
  font-size: 32px;
  background-color: darkslategrey;
  color: white;
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  opacity: .8;
}
.hack-episode-alignment {
  background: none;
  height: 0;
}
.video-thumbnail:hover {
  opacity: 1;
}

.video-thumbnail.current-video {
  background-color: darkblue;
}
.video-thumbnail.current-video::after {
  content: "Currently Playing";
  font-size: small;
  display: block;
}
.video-thumbnail.current-video + .video-thumbnail {
  background-color: darkslateblue;
}
.video-thumbnail.current-video + .video-thumbnail::after {
  content: "Playing Next";
  font-size: small;
  display: block;
}

.viewer {
  display: flex;
  width: 100%;
}

.viewer main {
  flex-grow: 2;
}

@media only screen and (max-width: 1100px)  {
  .viewer {
    display: block;
  }
  .viewer aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.viewer main video {
  width: calc(100% - 100px);
  margin: 50px;
  height: auto;
}

.viewer aside {
  min-width: fit-content;
  padding: 20px;
  padding-top: 35px;
}

/* ELEVATIONS box-shadows borrowed from https://codepen.io/sdthornton/pen/wBZdXq */
.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease;
}
.elevation-1.interact:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease;
}
.elevation-2.interact:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease;
}
.elevation-3.interact:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.elevation-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.elevation-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}