body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.browser {
  width: 90%;
  margin: auto;
}

.show {
  margin-bottom: 50px;
}

.show h2 {
  display: inline;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video-thumbnail,
.hack-episode-alignment {
  width: 200px;
  height: 150px;
  display: block;
  font-size: 32px;
  background-color: darkslategrey;
  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 15px;
}
.hack-episode-alignment {
  background: none;
  height: 0;
}
.video-thumbnail:hover {
  text-decoration: underline;
}

.video-thumbnail.current-video {
  background-color: darkblue;
}
.video-thumbnail.current-video::after {
  content: "Currently Playing";
  font-size: small;
  display: block;
}
.video-thumbnail.current-video + .video-thumbnail {
  background-color: darkslateblue;
}
.video-thumbnail.current-video + .video-thumbnail::after {
  content: "Playing Next";
  font-size: small;
  display: block;
}

.viewer {
  display: flex;
  width: 100%;
}

.viewer main {
  flex-grow: 2;
}

@media only screen and (max-width: 1100px)  {
  .viewer {
    display: block;
  }
  .viewer aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.viewer main video {
  width: calc(100% - 100px);
  margin: 50px;
  height: auto;
}

.viewer aside {
  min-width: fit-content;
  padding: 20px;
}